$light-gray: #ececec;
$lighter-gray: #f7f8f8;
$white: #fff;
$black: #000;
$dark-gray: #2c2d31;

$inner-width: 1200px;

$border-width: 4px;

$display-font-family: "Raleway", sans-serif;
$display-font-weight: 800;
$primary-font-family: "";

$media-medium: 50em;
$media-large: 75em;
